<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Update</title>
  </head>
  <body class="container">
  <h1>Update name of the stylist</h1>
  <hr>
  <form action='/UpdateStylist/@Model.GetId()' method='post'>
    <div class='form-group'>
      <label for='stylist'>New Name: </label>
      <input id='stylist' name='new-name' class='form-control' type='text'>
    </div>
    <button type='submit' class='btn'>Summit</button>
  </form>
</body>
</html>
