<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>All Customers</title>
  </head>
  <body class="container">
  <h1>All Customers of Tony Salon</h1>
  <hr>
  @if (@Model.Count != 0)
  {
    <h3>All Customers:</h3>
      <hr>
      <ul>
        @foreach(var customer in Model) {
          <li>Name: @customer.GetName() | <a href="/UpdateCustomer/@customer.GetId()">Edit</a> | <a href="/DeleteCustomer/@customer.GetId()">Delete</a></li>
          <hr>
        }
      </ul>
  }
  else
  {
    <h3>We don't have any customers yet, please add!</h3>
  }
  <a href="/AddCustomer"><button type='submit' class='btn'>Add Customer</button></a><br>
  <a href="/DeleteAllCustomers"><button type='submit' class='btn'>Delete all customers</button></a><br>
  <a href="/"><button type='submit' class='btn'>Go Home</button></a><br>
</body>
</html>
