<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Customer added failed</title>
  </head>
  <body class="container">
  <h1>Sorry, adding customer failed!</h1>
  <hr>
  <h3>Fail to find the Stylist!</h3>
  <hr>
  <form action="/AddCustomers">
    <input type="submit" value="Add Again" />
  </form>
  </body>
</html>
